.flex-container {
    display: flex;
    flex-wrap: nowrap;

  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    size: 50px;
    margin: 5px;
    text-align: center;
    width: 130px;
    line-height: 50px;
    font-size: 30px;
    
  }

  input {
      width: inherit;
      background-color: bisque;
  }

  body {
    background-color: teal;
  }